@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url("/ProximaNovaBold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/ProximaNovaRegular.otf")format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro'), url('Acumin-RPro.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Acumin Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro Italic'), url('Acumin-ItPro.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Acumin Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro Bold'), url('Acumin-BdPro.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Acumin Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro Bold Italic'), url('Acumin-BdItPro.woff') format('woff');
  }