@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-message {
     @apply font-secondary mt-1 text-primary-500 text-xs
  }
}

/* Fonts */
@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima nova"), url("/fonts/ProximaNovaBold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima nova"), url("/fonts/ProximaNovaRegular.otf")format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro'), url('/fonts/Acumin-RPro.woff') format('woff');
}


@font-face {
  font-family: 'Acumin Pro';
  font-style: italic;
  font-weight: normal;
  src: local('Acumin Pro'), url('/fonts/Acumin-ItPro.woff') format('woff');
}


@font-face {
  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: bold;
  src: local('Acumin Pro'), url('/fonts/Acumin-BdPro.woff') format('woff');
}


@font-face {
  font-family: 'Acumin Pro';
  font-style: italic;
  font-weight: bold;
  src: local('Acumin Pro'), url('/fonts/Acumin-BdItPro.woff') format('woff');
}